<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<% if not can? :read, Room %>

  <%= link_to 'New Room', new_room_path %>

<% end %> <br/><br/><br/><br/>
<% @rooms.each do |room| %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Rules</th>
      <th>Address</th>
      
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Edit option</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><%= image_tag(room.images.url, style: 'height:250px;width:80%;max-width:800px;') if room.images %><br/></td>
        <td><%= room.name %></td>
        <td><%= room.description %></td>
        <td><%= room.price %></td>
        <td><%= room.rules %></td>
        <td><%= room.address %></td>
        
        <td><%= room.latitude %></td>
        <td><%= room.longitude %></td>
        <td><%= City.find(room.city_id).name %></td>
        
        <td>
          <%= link_to 'Show', room %>
         
          <%= link_to 'Edit', edit_room_path(room) %>

          <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    
  </tbody>
</table>
<% end %>
<br>

